<div>
    <h1>U Have a Job</h1>
    <table>
        <tr>
            <td>Name</td>
            <td>
                <%=name%>
            </td>
        </tr>
        <tr>
            <td>Job</td>
            <td>
                <%=job%>
            </td>
        </tr>
    </table>
</div>